---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/badge.astro';
import Skill from '../components/Skill.astro';
import Social from '../components/social.astro';
import LinkedInIcon from '../icons/linkedIn.astro'
import Code from '../icons/Code.astro'
import GithubIcon from '../icons/git.astro'
import MailIcon from '../icons/mail.astro'
import Briefcase from '../icons/Briefcase.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Porfolio de Daniel - Desarrollador y Programador Web con 3 años de experiencia"
	description="Contrata a daniel para crear tu aplicacion web o movil"
>
	<main class="px-4">
		<SectionContainer class="py-40 pb-24" >
			<!-- foto de perfil -->
			<img 
				class="rounded-full size-12 mb-4"
				src="../../public/perfil.jpeg" 
				alt="foto de perfil"
    		>  

			<!-- discripcion -->
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Daniel Gonzalez
				<a href="https://www.linkedin.com/in/daniel-gonzalez-651125241/" class="flex justify-center items-center" target="_blank" rel="noopener">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>3 años de Experiencia.</span> 
				<span class="text-yellow-200/90 ">Desarrollador Web Backend y Frontend.</span>
				<span class="text-red-100/90">De Valencia, Venezuela</span>, 
				<span class="opacity-85">Especializado en crear app unicas 💻✨</span>
			</h2>

			<!-- Botones con iconos -->
			<nav class="flex gap-4 mt-7 flex-wrap">
				<Social href="https://www.linkedin.com/in/daniel-gonzalez-651125241/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</Social>
				<Social href="https://github.com/danielgonzalez57">
					<GithubIcon class="size-4 md:size-6"/>
					Github
				</Social>
				<Social href="https://mail.google.com/mail/u/0/#inbox?compose=new">
					<MailIcon class="size-4 md:size-6"/>
					danielsrkt@gmail.com
				</Social>
			</nav>
		</SectionContainer>
		
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		
		<SectionContainer id="Skill">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Skill
			</h2>
			<Skill />
		</SectionContainer>

		<!-- Proyectos -->
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>                 

