---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/badge.astro';
import Social from '../components/social.astro';
import LinkedInIcon from '../icons/linkedIn.astro'
import GithubIcon from '../icons/git.astro'
import MailIcon from '../icons/mail.astro'
---

<Layout 
	title="Porfolio de Daniel - Desarrollador y Programador Web"
>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">

			<!-- foto de perfil -->
			<img 
				class="rounded-full w-12 h-12 mb-4"
				src="../../public/perfil.jpeg" 
				alt="foto de perfil"
    		> 

			<!-- discripcion -->
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, soy Daniel 
				<a href="#" class="flex justify-center items-center" target="_blank" rel="noopener">
					<Badge>Disponible para Trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>3 años de Experiencia.</span> 
				<span class="text-yellow-200/90 ">Desarrollador Web Backend y Frontend.</span>
				<span class="text-red-100/90">De Valencia, Venezuela</span>, 
				<span class="opacity-85">Espicalizado en crear app unicas</span>
			</h2>

			<!-- Botones con iconos -->
			<nav class="flex gap-x-4 mt-7">
				<Social href="#">
					<LinkedInIcon class="w-6 h-6"/>
					LinkedIn
				</Social>
				<Social href="#">
					<GithubIcon class="w-6 h-6"/>
					Github
				</Social>
				<Social href="#">
					<MailIcon class="w-6 h-6"/>
					danielsrkt@gmail.com
				</Social>
			</nav>
		</section>
	</main>
</Layout>                 

