---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Febrero 2023 - Actualmente',
        title: 'Desarrollador Fullstack Javascript - Tiendas Daka',
        description: 'Desarrollador Full Stack en Tiendas Daka: En mi rol, me encargué de automatizar tareas, desarrollar paneles de control, crear aplicaciones para cálculos específicos, programar vistas y gestionar bases de datos.',
        link: '#'
    },
    {
        date: 'Agosto 2022 - Diciembre 2022',
        title: 'Trainee - CLX store',
        description: 'Get access to over 20+ pages including a dashboard layout, chasrt, kanban-board, calendar, and E-commerce y Marketing pages',
        link: '#'
    }
]
---


<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience =>(
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience}/>
        </li>
        ))
    }                 
</ol>

