---
import IconsHtml from '../icons/html.astro'
import IconsVueJS from '../icons/vueJS.astro'
import IconsTail from '../icons/tail.astro'
import IconsCss from '../icons/CssIcon.astro'
import IconsJs from '../icons/javascriptIcon.astro'
import IconsTS from '../icons/typeScriptIcon.astro'
import IconsNode from '../icons/NodeIcons.astro'
import IconsNest from '../icons/Nest.astro'
import IconsCsharp from '../icons/Csharp.astro'
import IconSqlServer from '../icons/SqlServer.astro'
import IconMongo from '../icons/Mongodb.astro'
import IconPostgre from '../icons/Postgre.astro'
import IconAngular from '../icons/Angular.astro'
import IconFlutter from '../icons/Flutter.astro'

---

<div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
    <figure class="flex flex-col items-center p-5 justify-center  text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Frontend</h3>
        </blockquote>   
        <div class="grid grid-cols-4 gap-3">
            <div class="flex flex-col items-center pb-10">
                <IconsHtml class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Html</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsCss class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Css</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsJs class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">JavaScript</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsTS class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">TypeScript</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsVueJS class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Vue.js</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconAngular class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Angular.js</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsTail class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Tailwind CSS</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconFlutter class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Flutter</div>
            </div>
        </div>
    </figure>
    <figure class="flex flex-col items-center justify-center p-5 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Backend</h3>
        </blockquote>  
        <div class="grid grid-cols-4 gap-3">
            <div class="flex flex-col items-center pb-10">
                <IconsNode class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Node.js</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsNest class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Nest.js</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconsCsharp class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">C#</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconSqlServer class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Sql server</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconMongo class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">Mongo db</div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <IconPostgre class="size-12 mb-3"/>
                <div class="text-sm text-gray-500 dark:text-gray-400">PostgreSQL</div>
            </div>
        </div>
    </figure>
</div>